@import "../../../styles/abstracts/variables";
@import "../../../styles/base/animations";

.NavItem {
  height: 5rem;
  width: 31.5rem;
  // width: 6.5rem;
  margin: 1rem 0;
  display: flex;
  position: relative;
  z-index: 99;
  color: $color-nav-icons-hover;

  & a:hover + .NavItem__title {
    // z-index: 999;
    animation: navSlideTitle 0.6s ease-out forwards;
  }

  & a:hover + .NavItem {
    // width: 31.5rem;
  }

  &__icon {
    width: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-nav-icons;
    z-index: 999;

    &:hover {
      color: $color-nav-icons-hover;
      cursor: pointer;
    }

    // &:hover + .NavItem__title {
    //   animation: navSlideTitle 0.6s ease-out forwards;
    // }

    transition: 0.4s all ease-out;
  }

  &__title {
    position: relative;
    width: 25rem;
    height: 5rem;
    visibility: hidden;
    opacity: 0;
    background-color: $color-nav-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 2rem;
    // z-index: -1;

    // Text was breaking the animation so we set the z-index to -1 to be behind the nav
    z-index: -1;
    line-height: $lh-h3;
    text-transform: uppercase;

    border-radius: 0 0.3rem 0.3rem 0;

    box-shadow: 0.5rem 0 1rem rgba(255, 255, 255, 0.5);
  }

  &__active &__icon {
    color: $color-nav-bg;
    background-color: $color-nav-icons;
  }
}
