@import '../../../styles/abstracts/mixins';

.Modal {
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem;
  overflow-y: scroll;

  @include respond(tab-port) {
    height: 60vh;
  }

  //   opacity: 0;

  transform: translate(-50%, -50%);

  &__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 300;
  }
}
