.Spinner {
  display: block !important;
  width: 8rem !important;
  height: 8rem !important;
  color: #fff !important;
}

.SpinnerBlue {
  display: block !important;
  width: 8rem !important;
  height: 8rem !important;
  color: #686de0 !important;
}
