@import '../../styles/abstracts/variables';

.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background-color: $color-footer-bg;
    color: $color-footer-font;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 0 0 6.5rem;
}