@import '../../../styles/shared.scss';

.Title {
    width: 100%;
    color: $color-font;
    // color: #fff;
    font-size: $font-h2;
    line-height: $lh-h2;
    transform: rotate(-5deg);
    text-decoration: underline;
    margin-bottom: 3.5rem;
    // text-transform: uppercase;
}