@import "../../../styles/shared.scss";

.Title {
  width: 100%;
  color: $color-font;
  font-size: $font-h2;
  line-height: $lh-h2;
  transform: rotate(-5deg);
  text-decoration: underline;
  margin-bottom: 3.5rem;
}
