.TaskViewer {
        max-width: 60rem;
        margin: 2rem auto;
        text-align: left;

        &__title {
            font-weight: bold;
        }

        &__date {
            color: rgba($color: #000000, $alpha: .6);
        }

        &__desc {
            margin: 1rem 0;

        }
}